.left{ float: left; }
.right{ float: right; }

.red{ color: $redColor; }
.blue{ color: $blueColor; }
.green{ color: $greenColor; }

.pointer{ cursor: pointer; }
.default{ cursor: default; }
.shadow{ @include drop-shadow-sm; }
.actived{ background: $firstColor; }

.upper{ text-transform: uppercase; }
.lower{ text-transform: lowercase; }
.capitalize{ text-transform: capitalize; }
.hover{ @include hover(inherit, $blueColor); }
.sub-header-mgr{ margin-top: $header_size - $padding2 - .35; }

.link{
	outline: none;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	&:hover, &:focus{ text-decoration: underline; }
}

.profile-box-scroll{
	position: fixed;
	margin-top: $header_size;
}