$bgColor: #202020;
$fontColor: #E0E0E0;
$iconColor: $fontColor;
$firstColor: #262626;
$secondColor: #222222;

$redColor: #C72C41;
$blueColor: #3769BE;
$greenColor: #009587;
$orangeColor: #D65A31;

$borderColor: rgba(100, 100, 100, .15);
$shadowColor: rgba(112, 112, 112, .125);

// Diagram theme
$dgrBgColor: #222222;
$dgrFontColor: #E0E0E0;
$dgrBorderColor: rgba(100, 100, 100, .15);