@mixin icons{
	.fab, 
	.far, 
	.fas, 
	.fa-thin, 
	.fa-solid, 
	.fa-light, 
	.fa-brands, 
	.fa-regular, 
	.fa-duotone{
		@content;
	}
}

@mixin table {
	table{
		width: 100%;
		border-spacing: 0;
		font-size: $smallFont;
		border-bottom: 0 !important;
		border: $border_size solid $borderColor;
		
		th{
			font-weight: 500;
			font-size: $fontSize;
			height: $header_size;
			background: $secondColor;
			line-height: $header_size;
			border-bottom: $border_size solid $borderColor;
		}

		td{
			cursor: pointer;
			text-align: center;
			height: $header_size;
			background: $firstColor;
			line-height: $header_size;
			border-bottom: $border_size solid $borderColor;
		}

		tr{
			&:hover, &:focus{
				td{ background: $secondColor; }
			}
		}
	}
}

@mixin select {
	appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

@mixin scrollbar {
	&::-webkit-scrollbar {
		position: fixed;
		width: $padding5;
		z-index: 9999999;
		background: $firstColor;
	}

	&::-webkit-scrollbar-thumb { background: $borderColor; }
}

@mixin placeholder {
	@include input-placeholder {
		opacity: .7;
		font-weight: 500;
		color: $fontColor;
	}
}

@mixin no-text-select {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

@mixin input-placeholder {
	&.placeholder{ @content; }
	&:-o-placeholder{ @content; }
	&::-moz-placeholder{ @content; }
	&:-ms-input-placeholder{ @content; }
	&::-webkit-input-placeholder{ @content; }
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin hover($background: $secondColor, $color: inherit, $border-color: $borderColor) {
	&:hover, &:focus{
		outline: none;
		color: $color;
		border-color: $border-color;
		background-color: $background;
	}
}