$padding1: .6em;
$padding3: .3em;
$padding2: .5em;
$padding4: .8em;
$padding5: .7em;
$padding_base: 1em;

$fontSize: 1em;
$menu_size: 3em;
$smallFont: .8em;
$logo_size: 12em;
$header_size: 4em;
$border_size: .05em;
$left_box_size: 14em;

$codeFont: 'Consolas';
$font: 'Roboto', sans-serif;