.nav{
	top: 0;
	left: 0;
	height: 100%;
	position: fixed;
	z-index: 9999999999;
	width: $header_size;
	background: $secondColor;
	border-right: $border_size solid $borderColor;

	hr{
		border: none !important;
		border-color: $secondColor !important;
	}

	.logo{
		width: 100%;
		text-align: center;
		height: $header_size;
		text-decoration: none;
		line-height: $header_size;
		margin-top: $padding_base;
		margin-left: -$padding3 / 3;
		margin-bottom: $padding_base;
		&:hover, &:focus{ @include filter(grayscale, 100%); }
	}

	.actived{
		color: $fontColor;
		background: $blueColor;
	}

	.btn-item{
		float: left;
		width: 100%;
		color: inherit;
		cursor: pointer;
		z-index: 9999999;
		height: $header_size;
		text-decoration: none;
		line-height: $header_size;
		font-size: $smallFont + .05;

		.fab, .far, .fas{
			text-align: center;
			width: $header_size;
			line-height: $header_size;
		}

		@include hover($firstColor, $fontColor);
		&:hover{
			.hovercard{
				opacity: 1;
				display: inline;
				transition: .5s;
				transition-delay: .1s;
				margin-right: -$padding3 / 2;
			}
		}
	}

	.hovercard{
		opacity: 0;
		z-index: -1;
		display: none;
		cursor: default;
		position: absolute;
		font-weight: normal;
		width: $padding_base * 12;
		line-height: $header_size;
		transform: translateX(-50%);
		left: $header_size + $padding4;

		.text{
			display: flex;
			transition: 1s;
			cursor: pointer;
			text-align: left;
			color: $fontColor;
			flex-direction: column;
			background: $blueColor;
			padding-left: $padding_base;
			justify-content: flex-start;
			font-size: $smallFont + .05;
			padding-right: $padding_base;
			border-top-right-radius: $padding2;
			border-bottom-right-radius: $padding2;
		}
	}

	.logo-actived{ @include filter(grayscale, 100%); }
}