.collection-mdl{
	top: 50%;
	left: 50%;
	width: 22em;
	display: none;
	height: 22.5em;
	position: fixed;
	margin-left: -11em;
	margin-top: -11.5em;
	z-index: 99999999999;
	@include drop-shadow-sm;
	background: $firstColor;

	.body{
		overflow: auto;
		overflow-x: hidden;
		padding: $padding_base;
        padding-top: 0 !important;

		.btn{
			width: 6em;
            float: right;
			color: inherit;
			cursor: pointer;
            text-align: center;
			font-size: $smallFont;
			padding: $padding_base;
			background: $firstColor;
			margin-top: $padding_base;
			border: $border_size solid $borderColor;
			@include hover;
		}

		input{
			width: 91.4%;
			outline: none;
			color: inherit;
			font-size: $smallFont;
			padding: $padding_base;
			background: $firstColor;
			border: $border_size solid $borderColor;

			@include hover;
			@include placeholder;
		}

		select{
			width: 100%;
			color: inherit;
			cursor: pointer;
			font-size: $smallFont;
			padding: $padding_base;
			background: $firstColor;
			border: $border_size solid $borderColor;

			@include hover;
			@include select;
		}

		.label{
			display: block;
			text-align: left;
			height: $menu_size;
			font-size: $smallFont;
			line-height: $menu_size;
		}

		@include scrollbar;
	}
}